html {
  height: 100%;
}

body {
  background-color:rgb(167, 191, 147);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

main {
  text-align: center;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#datetime {
  background-color: white;
  width: 300px;
  margin: auto;
  border: 1px solid grey;
}
body {
  background-color: #37aca2;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 40px ), repeating-linear-gradient( #FAF0E655, #FAF0E6 );
}