html {
  height: 100%;
}

body {
  background-color:rgb(167, 191, 147);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

main {
  text-align: center;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}